h1 {
    text-align: center;
    margin: 5px auto;
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h3 {
    text-align: center;
    padding: 0 auto;
    margin: 0 auto 3px auto;
}